{% extends 'base.html.twig' %}

{% block title %}Sortir - ENI - Event{% endblock %}

{% block body %}
    {% form_theme eventCreateForm 'bootstrap_4_layout.html.twig' %}
    <div class="container-fluid">
        <h1 class="row d-flex justify-content-center">Créer un événement</h1>
        <div class="row d-flex justify-content-center">
            <div class="col-3 my-5">
                {{ form_start(eventCreateForm) }}
                {{ form_row(eventCreateForm.name) }}
                <br>
                {{ form_row(eventCreateForm.eventDate) }}
                <br>
                {{ form_row(eventCreateForm.limitDate) }}
                <br>
                {{ form_row(eventCreateForm.nbrPlace) }}
                <br>
                {{ form_row(eventCreateForm.duration) }}
                <br>
                {{ form_row(eventCreateForm.description) }}
            </div>
            <div class="col-3 my-5">
                {{ form_row(eventCreateForm.campus) }}
                <br>
                {{ form_row(eventCreateForm.city) }}
                <br>
                {{ form_rest(eventCreateForm) }}
            </div>
        </div>
        <div class="col-3 mx-auto text-center">


                {{ form_end(eventCreateForm) }}
        </div>
    </div>

{% endblock %}