{% extends 'base.html.twig' %}

{% block title %}
    Sortir - ENI - {{ event.name }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">

            {% for status, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ status }} alert-dismissible fade show" role="alert">
                        <strong>
                            {{ message }}
                        </strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endfor %}

            {% form_theme updateEventForm 'bootstrap_4_layout.html.twig' %}
            {% form_theme placeForm 'bootstrap_4_layout.html.twig' %}
            <div class="container-fluid">
                <h1 class="row d-flex justify-content-center">Modifier la sortie</h1>
                <h1 class="row d-flex justify-content-center">{{ event.name|capitalize }}</h1>
                <div class="row d-flex justify-content-center">
                    <div class="col-3 my-5">
                        {{ form_start(updateEventForm) }}
                        {{ form_row(updateEventForm.name) }}
                        <br>
                        {{ form_row(updateEventForm.eventDate) }}
                        <br>
                        {{ form_row(updateEventForm.limitDate) }}
                        <br>
                        {{ form_row(updateEventForm.nbrPlace) }}
                        <br>
                        {{ form_row(updateEventForm.duration) }}
                        <br>
                        {{ form_row(updateEventForm.description) }}
                    </div>
                    <div class="col-3 my-5">
                        {{ form_row(updateEventForm.campus) }}
                        <br>
                        {{ form_row(updateEventForm.city) }}
                        <br>
                        {{ form_start(placeForm) }}
                        {{ form_widget(placeForm) }}
                    </div>
                </div>
                <div class="col-3 mx-auto text-center">
                    <button class="btn btn-success ms-2" type="submit">Enregistrer</button>
                    <button class="btn btn-primary ms-2" type="submit">Modifier la sortie</button>
                    <button class="btn btn-secondary ms-3" type="button" data-dismiss="modal">Annuler</button>
                    {{ form_end(placeForm) }}
                    {{ form_end(updateEventForm) }}
                    <button class="btn btn-secondary ms-2" type="button">
                        <a style="text-decoration: none; color: white" href="{{ url('event_cancel', {'id':event.id}) }}">Supprimer la sortie</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


