{% extends 'base.html.twig' %}

{% block title %}
Sortir - ENI - {{ event.name|capitalize}}
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <h1 class="row d-flex justify-content-center">Détail de : {{ event.name }}</h1>
        <div class="row d-flex justify-content-center">
            <div class="col-3 my-5">
                <p>Nom de la sortie : {{ event.name }}</p>
                <p>Date et heure de la sortie : {{ event.eventDate|date('d-m-Y') }}</p>
                <p>Date limite d'inscription : {{ event.limitDate|date('d-m-Y') }}</p>
                <p>Nombre de places : {{ event.nbrPlace }}</p>
                <p>Durée : {{ event.duration }}</p>
                <p>Durée : {{ event.description }}</p>
            </div>
            <div class="col-3 my-5">
                <p>Campus :{{ event.campus.name }}</p>
                <p>Lieu :{{ event.place.name }}</p>
                <p>Rue :{{ event.place.street }}</p>
                <p>Code postal :{{ event.place.zipCode }}</p>
            </div>
        </div>
    </div>

    <div>
        <h3>Liste des participants inscrits: </h3>
    </div>
</div>
{% endblock %}

