{% extends "base.html.twig" %}
{% block title %}Sortir - ENI - Accueil{% endblock %}
    {% block header %}
        <ul class="nav nav-pills">
            {# TODO Afficher accueil et ville si un admin est connecté #}
            <li class="nav-item">
                <a class="nav-link" href="{{ url('admin_villes') }}">Villes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('admin_campus') }}">Campus</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('home_index') }}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('user_profil',{"username":app.user.username}) }}">Mon profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('app_logout') }}">Se déconnecter</a>
            </li>
        </ul>

    {% endblock %}
{% block body %}
{% endblock %}

