{% extends "base.html.twig" %}
{% block title %}Sortir - ENI - Accueil{% endblock %}

{% block body %}
    {% for status, messages in app.flashes %}
        {% for message in messages %}
            <div class="container-fluid">
                <div class="row">
                    <div class="my-5 d-flex justify-content-center">
                        {# <h1>{{ event.name }}</h1> #}
                    </div>
                    <div class="alert alert-{{ status }} alert-dismissible fade show" role="alert">
                        <strong>
                            {{ message }}
                        </strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}

    <div class="container-fluid">
        <div class="mb-3 row">
            {% form_theme filtersForm 'bootstrap_4_layout.html.twig' %}
            <h3>Filtrer les sorties</h3>
            <div class="ms-4 p-3 col-3">
                {{ form_start(filtersForm) }}
                <div class="pb-3">
                    {{ form_row(filtersForm.campus) }}
                </div>
                <div class="pb-3">
                    {{ form_row(filtersForm.text) }}
                </div>
                <div class="row">
                    <div class="p-3 col-6">
                        Entre
                        {{ form_row(filtersForm.dateStart) }}
                    </div>
                    <div class="p-3 col-6">
                        et
                        {{ form_row(filtersForm.dateEnd) }}
                    </div>
                </div>
            </div>
            <div class="col-5">
                {{ form_row(filtersForm.organizer) }}
                {{ form_row(filtersForm.subscribed) }}
                {{ form_row(filtersForm.notSubscribed) }}
                {{ form_row(filtersForm.passedEvents) }}
            </div>
            <div class="col-2">
                {{ form_row(filtersForm.search) }}
                {{ form_end(filtersForm) }}
            </div>
        </div>
        <div class="mb-3 row">
            <div class="my-5 d-flex justify-content-center ">
                    {% if filtersResults|length > 0 %}
                        <table class="table table-bordered table-hover border-dark text-center">
                            <caption>Liste d'événements</caption>
                            <thead>
                            <tr>
                                <th scope="col">Nom de la sortie</th>
                                <th scope="col">Date de la sortie</th>
                                <th scope="col">Clôture</th>
                                <th scope="col">Inscrits/places</th>
                                <th scope="col">Etat</th>
                                <th scope="col">Inscrit</th>
                                <th scope="col">Organisateur</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for event in filtersResults %}
                                <tr>
                                    <td><a href="{{ path('event_detail', {'id': event.id}) }}">{{ event.name }}</a></td>
                                    <td>{{ event.eventDate|format_datetime('short', 'short', locale='fr') }}</td>
                                    <td>{{ event.limitDate|format_datetime('short', 'none', locale='fr') }}</td>
                                    {% if event.state.id == 2 or event.state.id == 3 %}
                                        <td>{{ event.currentSubs }}/{{ event.nbrPlace }}</td>
                                    {% else %}
                                        <td class="text-center"> -----</td>
                                    {% endif %}
                                    <td>{{ event.state.state }}</td>

                                    {% if(event.subscribers.contains(app.user)) %}
                                        <td class="text-center">X</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                    <td><a href="{{ path('user_profil', {'username': event.organizer.username}) }}">
                                            {{ event.organizer.username }}
                                        </a></td>
                                    <td>
                                        <a href="{{ path('event_detail', {'id': event.id}) }}">Afficher</a>
                                        {# Si l'utilisateur est l'organisateur: Annulation #}
                                        {% if(event.organizer is same as app.user) %}

                                            <a href="{{ path('event_cancel', {'id': event.id}) }}">Annuler</a>
                                            {# ET l'évenement est en création #}
                                            {% if(event.state.id == 1) %}

                                                <a href="{{ path('event_detail', {'id': event.id}) }}">Publier</a>

                                            {% endif %}

                                        {% else %}
                                            {# Si l'événement est en statut "Ouvert" #}
                                            {% if(event.state.id == 2) %}
                                                {# Que l'utilisateur est inscrit #}
                                                {% if(event.subscribers.contains(app.user)) %}
                                                    {# et qu'il n'est pas l'organisateur #}

                                                    <a href="{{ path('event_detail', {'id': event.id}) }}">Se
                                                        désister</a>

                                                    {# Si il n'est pas inscrit et que ce n'est pas l'organisateur #}
                                                {% else %}

                                                    <a href="{{ path('event_detail', {'id': event.id}) }}">S'inscrire</a>

                                                {% endif %}
                                            {% endif %}
                                        {% endif %}

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>Aucun résultat ne correspond à votre recherche.</p>
                    {% endif %}

            </div>
        </div>
    </div>

    <div>
        <button class="btn btn-outline-primary">
            <a style="text-decoration: none; color: black" href="{{ url('event_create') }}">Créer un événement</a>
        </button>
    </div>
{% endblock %}

