{% extends "base.html.twig" %}

{% block title %}Sortir - ENI - Campus  {% endblock %}


{% block body %}
    {% for status, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ status }} alert-dismissible fade show" role="alert">
                <strong>
                    {{ message }}
                </strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}
    {% form_theme campusForm 'bootstrap_4_layout.html.twig' %}
    {% form_theme filter 'bootstrap_4_layout.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col -md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1>Liste des Campus</h1>
                        <div class="panel-body">
                            {{ form_start(filter) }}
                            {{ form_row(filter.text) }}
                            {{ form_row(filter.search) }}
                            {{ form_end(filter) }}
                            {% if campusList|length > 0 %}
                            <table class="table table-bordered table-stripped">
                                <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Modifier</th>
                                    <th>Supprimer</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for campus in campusList %}
                                    <tr>
                                        <td>{{ campus.name }}</td>
                                        <th>
                                            <a href="{{ path('admin_campusmodifier',{"id":campus.id}) }}"
                                               class="btn btn-sm btn-primary ">Modifier</a>
                                        </th>
                                        <th>
                                            <a href="{{ url('admin_campusDelete',{"id":campus.id}) }}"
                                               class="btn btn-sm btn-primary ">Supprimer</a>
                                        </th>
                                    </tr>
                                {% endfor %}
                                <td>
                                    {{ form_start(campusForm, {'label':false}) }}
                                    {{ form_row(campusForm.name) }}
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-sm btn-primary">
                                        Ajouter
                                    </button>
                                    {{ form_end(campusForm) }}
                                </td>
                                </tbody>
                            </table>
                            {% else %}
                            <p>Aucun résultat ne correspond à votre recherche.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}








