{% extends "base.html.twig" %}

{% block title  %}Sortir - ENi - Campus  {% endblock %}

 {% block header %}
     <div class="container-fluid">
         <div class="row">
             <div class="my-5 d-flex col-md-4">
                 <h1>Sortir - ENI</h1>
             </div>
             <div class="col-md-4 offset-md-4">
                 <ul class="nav nav-pills">
                     {% if app.user.admin == true %}
                         <li class="nav-item">
                             <a class="nav-link" href="{{ url('admin_villes') }}">Villes</a>
                         </li>
                         <li class="nav-item">
                             <a class="nav-link" href="{{ url('admin_campus') }}">Campus</a>
                         </li>
                     {% endif %}
                     <li class="nav-item">
                         <a class="nav-link" href="{{ url('home_index') }}">Accueil</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="{{ url('user_profil',{"username":app.user.username}) }}">Mon
                             profil</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="{{ url('app_logout') }}">Se déconnecter</a>
                     </li>
                 </ul>
             </div>
         </div>
     </div>
 {% endblock %}


{% block body %}
    {% form_theme campusform 'bootstrap_4_layout.html.twig' %}
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="my-5 d-flex justify-content-center">
                <h3>gérer campus</h3>
            </div>
            <hr>
            <div class="my-5 d-flex justify-content-center">
                {{ form_start(campusform) }}
                {{ form_widget(campusform) }}
                <button type="submit" class="btn btn-primary">modifier</button>
                <button type="reset" class="btn btn-secondary">supprimer</button>
                <br>
                {{ form_end(campusform) }}
            </div>
        </div>
    </div>


{% endblock %}