{% extends "base.html.twig" %}

{% block title %}Sortir - ENi - Campus  {% endblock %}


{% block body %}

    {% for status, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ status }} alert-dismissible fade show" role="alert">
                <strong>
                    {{ message }}
                </strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}

    {% form_theme villeForm 'bootstrap_4_layout.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col -md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Liste des Villes
                        <div class="panel-body">
                            <table class="table table-bordered table-stripped">
                                <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>code postal</th>
                                    <th>Modifier</th>
                                    <th>Supprimer</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for ville in villeList %}
                                    <tr>

                                        <td>{{ ville.name }} </td>
                                        <td> {{ ville.zipCode }} </td>

                                        <th>
                                            <a href=" {{ path('admin_modifierville',{"id":ville.id}) }}"
                                               class="btn btn-sm btn-primary ">Modifier</a>
                                        </th>
                                        <th>
                                            <a href="{{ url('admin_deletecity',{"id":ville.id}) }}"
                                               class="btn btn-sm btn-primary ">Supprimer</a>
                                        </th>
                                    </tr>
                                {% endfor %}

                                <td>
                                    {{ form_start(villeForm, {'label':false}) }}

                                    {{ form_row(villeForm) }}


                                </td>
                                <td>
                                    <button type="submit" class="btn btn-sm btn-primary">
                                        Ajouter
                                    </button>
                                    {{ form_end(villeForm) }}
                                </td>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}