{% extends 'base.html.twig' %}
{% block title %}
    Sortir - ENI - Utilisateurs
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% for status, messages in app.flashes %}
                {% for message in messages %}
                    <div class="container-fluid">
                        <div class="row">
                            <div class="my-5 d-flex justify-content-center">
                                <div class="alert alert-{{ status }} alert-dismissible fade show" role="alert">
                                    <strong>
                                        {{ message }}
                                    </strong>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div>
                <h3>Liste des utilisateurs: </h3>
                <button class="btn btn-outline-warning"><a href="{{ url('admin_userRegister') }}">Inscrire un
                        utilisateur</a></button>
            </div>
            <table style="width: 20%" class="table table-bordered table-hover">
                <caption>Liste des utilisateurs</caption>
                <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Nom</th>
                    <th>Admin</th>
                </tr>
                </thead>
                <tbody>
                {% for user in allUser %}
                    <tr>
                        <td><a href="{{ url('user_profil', {'username' :user.username }) }}">{{ user.username }}</a>
                        </td>
                        <td> {{ user.firstName }} {{ user.lastName|upper }}</td>
                        {% if user.admin == true %}
                            <td class="text-center">X</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


