{% extends 'base.html.twig' %}
{% block title %}
    Sortir - ENI - {{ user.username|capitalize }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 mx-auto text-center">
                <h1>{{ user.username|capitalize }}</h1>
                <div class="my-1">
                    <p>Prénom : {{ user.firstName|capitalize }}</p>
                </div>
                <div class="my-1">
                    <p>Nom : {{ user.lastName|capitalize }}</p>
                </div>
                <div class="my-1">
                    <p>Téléphone : {{ user.phone }}</p>
                </div>
                <div class="my-1">
                    <p>Email : {{ user.mail }}</p>
                </div>
                <div class="my-1">
                    <p>Campus : {{ user.campus.name }}</p>
                </div>
                <button class="btn btn-secondary"><a href="{{ url('home_index') }}">Retour</a></button>
            </div>
        </div>
    </div>
{% endblock %}

