{% extends "base.html.twig" %}

{% block title %}Sortir - ENI - Profil {% endblock %}

    {% block header %}
        <ul class="nav nav-pills">
            {# TODO Afficher accueil et ville si un admin est connecté #}
            <li class="nav-item">
                <a class="nav-link" href="{{ url('admin_villes') }}">Villes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('admin_campus') }}">Campus</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('home_index') }}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('user_profil',{"username":app.user.username}) }}">Mon profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('app_logout') }}">Se déconnecter</a>
            </li>
        </ul>

    {% endblock %}
{% block body %}
    {% form_theme userProfilForm 'bootstrap_4_layout.html.twig' %}

    <div class="container-fluid">
        <div class="row">
            <div class="my-5 d-flex justify-content-center">
                <h1>Mon profil</h1>
            </div>
            <div class="my-5 d-flex justify-content-center">
                <div>
                    {{ form_start(userProfilForm) }}
                    {{ form_widget(userProfilForm) }}
                    <button type="submit" class="btn btn-primary">Modifier</button>
                    <button type="reset" class="btn btn-secondary">Annuler</button>
                    {{ form_end(userProfilForm) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}